<%= render 'dashboard/navs/nav' %>

<div class="container">
  <div class="row-loggedin">
  <h3 style="color: #167ac6;">Welcome home, <%= link_to @user.email, edit_user_registration_path %></h3><br />
  <div class="col-xs-12 col-md-8" id="center-side">
  <%= render 'layouts/navbar_pills/navpills' %>
<hr>
<% @newsletters.each do |newsletter| %>
  <% @user = newsletter.user %>

<ul>
<div class="post_container">
  <li><div class="name"><%= newsletter.name if newsletter.image.present? %></div></li>
  <%if @user && @user.email.present? %>
  <li class='yt-thumb'><%= image_tag newsletter.image.url(:youtube) %></li>

  <div class="date">Created on <%= newsletter.created_at.strftime("%b %e, %Y") %></div>
  <div>Most recent post preview: <%= raw(newsletter.posts.last.body) %></div>
 <% end %>
   <%#= subscribe %> 
</div>
</ul>

<% end %>
 <br><br>
  </div>
  <div id="right_column" class="right_column">  
  <div class="col-xs-12 col-md-3" id="right-side">
  <ul>
  <h4><li role="presentation" class="createnewsletter"><%= link_to new_user_newsletter_path(@user.id), :class => current_class?(new_user_newsletter_path(@user.id)) do %><span class="fa fa-pencil-square-o fa-1x" style="color: white;"></span> Create Newsletter</li></h4> 
  <% end %>
  </ul>
  </div>
  </div>
  <%= render 'dashboard/navs/right_nav' %>
  </div>
</div>