<%= tinymce_assets %>
<%= render 'dashboard/navs/nav' %>

<div class="container">
  <div class="row-loggedin">
  <div class="col-xs-2 col-md-2" style="margin-left:-35px;"></div>
  <div class="col-xs-12 col-md-8" id="center-side" style="text-align: center; ">
  <%= form_for [@newsletter, @post] do |f| %>
  <% if @post.errors.any? %>
  <div class="errorExplanation" style="color: white;">    
    <h1><%= pluralize(@newsletter.errors.count, 'error') %> encountered:</h1>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <div>
  <h2>Step 2.</h2><hr id="newpost">

  <h4 style="margin-right: 20px;">Create your email post & select your email template:</h4><br>

  <%= f.text_field :title, class: "newsletter-name", placeholder: "Title your post here" %><br />
  <%= f.text_area :body, class: "post-body tinymce", placeholder: "Write your post here", :size => "90%x7%"  %><br />
  <%= f.submit "Publish", class: "next-button" %>

  <script>
  tinyMCE.init({
    // plugins: "AtD",
    selector: "textarea.tinymce",
    toolbar: ["styleselect | cut copy paste pastetext pasteword | bold italic | undo redo | alignleft aligncenter alignright | fontsizeselect | fontselect"],
    gecko_spellcheck: true
  });
  </script>


  <br><br>
  </div>
  <% end %>

  </div>
  </div>

</div>