<footer id='footer'>
  <div class="container">
    <p class="links">
      <%= link_to 'My Account', '#' %>
      <%= link_to 'My Queue', '#' %>
      <%= link_to 'Contact Us', '#' %>
      <%= link_to 'User Agreement', '#' %>
      <%= link_to 'Privacy Policy', '#' %>
    </p>
  </div>
</footer>
