<!DOCTYPE html>
<html>
<head>
  <title>Motiv8.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<% if flash[:notice] -%>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=h flash[:notice] %>
  </div>
<% end -%>
<% if flash[:error] -%>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=h flash[:error] %>
  </div>          <% end -%>
<% if flash[:alert] -%>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=h flash[:alert] %>
  </div>
<% end -%>
<%= yield %>

</body>
</html>
